
@keyframes btt {
  0% {
    bottom: 40px;
  }
  25% {
    bottom: 50px;
  }
  50% {
    bottom: 30px;
  }
  100% {
    bottom: 40px;
  }
}



@keyframes menu_ex {
  0% {
    top: -100px;
  }

  100% {
    top: 0;
  }
}


@keyframes big_circle {
  0%{
    background: rgba(233, 0, 36, 0.1);
    transform: scale(1) rotate(360deg);
    -webkit-transform: scale(1) rotate(360deg);
    -moz-transform: scale(1) rotate(360deg);
    -ms-transform: scale(1) rotate(360deg);
    -o-transform: scale(1) rotate(360deg);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50% ;
}
  50%{
    background-color: #E90024;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
}
100%{
    background: rgba(233, 0, 36, 0.1);
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
}



@keyframes play_btn {
  0%{
    color: #E90024;
  }
  50%{
    color: white;
  }
  100%{
    color: #E90024;
  }
}